<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{% url 'bootcamp_app:create_bootcamp' %}" method="post">
      {% csrf_token %}
      <label for="name">Bootcamp Name: </label>
      <input type="text" type="text" name="name">
      <label for="name">Description: </label>
      <input type="text" type="text" name="description">
      <label for="name">Website: </label>
      <input type="text" type="text" name="website">
      <label for="name">Phone: </label>
      <input type="text" type="text" name="phone">
      <label for="name">Email: </label>
      <input type="text" type="text" name="email">
      <label for="name">User: </label>
      <input type="text" type="text" name="user">
      <input type="submit" value="OK"></input>
    </form>
  </body>
</html>
